#overview-widget {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 60vh;
  border-color: #44403F;
}

#overview-second-column {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  width: 33%;
}

#image-gallery {
  height: 100%;
  width: 66%;
  border-width: thin;
  position: relative;
  justify-content: center;
}

#vertical-carousel {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  height: 90%;
  width: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: space-evenly center;
  position: absolute;
  z-index: 1;
}

#vertical-carousel .item {
  height: 10%;
  padding: 10%
}

.arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #C6CDC1;
  z-index: 1;
}

.up {
  transform: rotate(90deg);
}

.down {
  transform: rotate(270deg);
}

.right {
  transform: rotate(180deg);
}

#vertical-carousel .arrow {
  margin-left: 30%;
}

.highlighted {
  background-color: #C6CDC1;
  width: 100%;
  height: 7%
}

.invisible {
  opacity: 0
}

.thumbnail {
  border-style: solid;
  border-width: thin;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#horizontal-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

#horizontal-carousel .main-image {
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: zoom-in;
  object-fit: cover;
}

#horizontal-carousel .left {
  top: 50%;
  left: 10%;
  position: absolute;
}

#horizontal-carousel .right {
  top: 50%;
  left: 95%;
  position: absolute;
}

#product-info {
  margin-top: 8%;
  width: 100%;
}

#review-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 10%;
  padding-bottom: 0;
}

#review-info .star-chart-container {
  margin-right: 5em;
}

#social-media {
  display: flex;
  flex-direction: row;
}

.product {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

#product-info h3 {
  height: 33%;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

#product-info h2 {
  height: 66%;
  padding: 0;
  margin: 0;
  flex-grow: 2;
  font-size: 2.5em;
}

.old-price {
  text-decoration: line-through;
  margin-right: .5em;
}

.sale-price {
  color: #BD2514;
}

#social-media {
  padding-top: 2em;
}

#style-selector h3{
  font-weight: normal;
}

#style-selector .grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% ;
  grid-auto-rows: 38%;
  gap: 5%;
}

#style-selector .thumbnail {
  border-radius: 50%;
  position: relative;
}

.style-holder {
  position: relative;
}

.checkmark-holder {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  background-color: #F5F6F0;
  height: 30%;
  width: 30%;
  top: -5%;
  left: 75%;
}

.left-mark {
  height: 30%;
  width: 10%;
  background-color: #44403F;
  transform: rotate(315deg);
  position: absolute;
  top: 50%;
  left: 29%;
}

.right-mark {
  height: 70%;
  width: 10%;
  background-color: #44403F;
  transform: rotate(45deg);
  position: absolute;
  top: 20%;
  left: 56%;
}