.ratings-main-component {
  margin: 0 auto;
  width: 100%;
}

.ratings-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-item {
  border: 1px solid #000;
}

.review-summary {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ratings-reviews-container {
  width: 66%;
}

#helpfulness-yes,
#review-report {
  text-decoration: underline;
}

/* #ratings-stars {

} */