.ratings-main-component {
  margin: 0 auto;
  width: 100%;
}

.ratings-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-apart;
}

.review-item {
  border: 1px solid #000;
}

.review-summary {
  font-weight: bold;
}

.ratings-reveiws-container {
  width: 66%;
}

