

.left-arrow {
  position: absolute;
  top: 50%;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid red;

}


.right-arrow {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid red;

}
.related-cards {
  display: flex;
  flex-direction: row;
  width: fit-content;
  position: relative;

}

.related-products {
  border: 1px solid black;
  width: 150px;
  margin: 10px;
  height: 300px;
  transition: 0.3s;
}

.related-products:hover {
  border: 1px solid black;
  transition: 0.3s;
  transform: scale(1.05);
}



.related-image {
  height: 60%;
  width: 100%;
}

.related-category {
  padding-left: 5px;

}
.related-name {
  font-weight: bold;
  padding-left: 5px;
}
.related-price {
  padding-left: 5px
}

.related-star {
  padding-left: 5px
}


.modal-body-current {
  float: left;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.modal-body-related {
  float: right;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.modal-item-name {
  font-weight: bold
}


.modal-content {
  width: 350px;
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-self: center;
}

.star-image {
  position: absolute;
  padding-left: 120px;
  padding-top: 5px;
  width: 25px;
  height: 25px;
}